name: CI

on:
  push:
    branches:
      - '**'
  pull_request:

jobs:
  quick-check:
    if: github.ref != 'refs/heads/main' || github.event_name == 'pull_request'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: "Create .npmrc"
        run: echo "//private-registry.torln.com/:_authToken=${NPM_CONFIG_TOKEN}" >> .npmrc
        env:
          NPM_CONFIG_TOKEN: ${{ secrets.NPM_CONFIG_TOKEN }}

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Type check
        run: bun run check

      - name: Lint
        run: bun run lint

  main-check:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: "Create .npmrc"
        run: echo "//private-registry.torln.com/:_authToken=${NPM_CONFIG_TOKEN}" >> .npmrc
        env:
          NPM_CONFIG_TOKEN: ${{ secrets.NPM_CONFIG_TOKEN }}

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Type check
        run: bun run check

      - name: Lint
        run: bun run lint

      - name: Build library
        run: bun run build

      - name: Build storybook
        run: bun run storybook:build
